<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>URL Aliaser</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<h1>URL Aliaser</h1>
<form th:action="@{/save-link}" th:object="${linkEntry}" method="post">
    <div th:if="${success}">
        <p>Your URL is aliased to <span th:utext="'<strong>' + ${alias} + '</strong>'"></span> and your secret code is <span th:utext="'<strong>' +${secretcode}+'<strong>'"></span>.</p>
    </div>
    <div th:if="${error}">
        <p><span class="error-message" th:text="${error}"></span></p>
    </div>
    <div>
        <label for="url">URL</label></br>
        <input type="text" id="url" th:field="*{url}" required>
    </div>
    <div>
        <label for="alias">Alias</label></br>
        <input type="text" id="alias" th:field="*{alias}" required>
    </div>
    <div>
        <br><button type="submit">Submit</button>
    </div>
</form>
</body>
</html>
